<!DOCTYPE html>
<html>
<head>
    <title>Timetable</title>
</head>
<body>
    <h1>Class Timetable</h1>
    <ul>
        <% timetable.forEach(row => { %>
            <li><%= row.day %> - <%= row.time %> - <%= row.lesson %></li>
        <% }); %>
    </ul>
</body>
</html>
